<div class="row">
  <nb-card style="width: 100%" [nbSpinner]="loading" nbSpinnerStatus="danger">
    <nb-card-body>

      <ngx-title-header title='Export Database'></ngx-title-header>

      <nb-stepper #stepper>

        <nb-step [stepControl]="adoForm1" label="{{ 'ADO Size' | translate }}">
          <form [formGroup]="adoForm1" (ngSubmit)="onAdoForm1Submit()" class="step-container">
            <h4>{{ 'ADO Size' | translate }}</h4>
            <br>
            <div class="input-group">
              <div class="ui-inputgroup">
                <input pInputText type="number" id="adoSize" formControlName="adoSize"
                onclick="this.setSelectionRange(0, this.value.length)" autofocus class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.adoSize.errors }" />
              </div>
            </div>
            <div class="divider"></div>
            <button nbButton status="primary" nbStepperNext>next</button>
          </form>
        </nb-step>

        <nb-step [stepControl]="adoForm2" label="Import">
          <div class="step-container">
            <h3>RUN EXPORT!</h3>
            <button nbButton (click)="onExport()">import</button>
          </div>
        </nb-step>
      </nb-stepper>

    </nb-card-body>
  </nb-card>
</div>
