<div class="row">
  <nb-card style="width: 100%" [nbSpinner]="loading" nbSpinnerStatus="danger">
    <nb-card-body>

      <ngx-page-header title='Import User Card'></ngx-page-header>

      <nb-stepper #stepper>
        <nb-step [stepControl]="zeroForm" label="{{ 'Select City' | translate }}">
          <form [formGroup]="zeroForm" (ngSubmit)="onZeroSubmit()" class="step-container">
            <h4>{{ 'Select City' | translate }}</h4>
            <br>
            <div class="input-group">
              <div class="ui-inputgroup">
                <p-dropdown formControlName="city" [options]="cities" name="city"
                  autoWidth="false" [style]="{'width':'400px'}"></p-dropdown>
              </div>
            </div>
            <div class="divider"></div>
            <button nbButton status="primary" nbStepperNext>next</button>
          </form>
        </nb-step>

        <nb-step [stepControl]="firstForm" label="{{ 'Select File Type' | translate }}">
          <form [formGroup]="firstForm" (ngSubmit)="onFirstSubmit()" class="step-container">
            <h4>{{ 'Select File Type' | translate }}</h4>
            <br>
            <div class="input-group">
              <div class="ui-inputgroup">
                <p-dropdown formControlName="fileType" [options]="fileTypes" name="fileType"
                  autoWidth="false" [style]="{'width':'400px'}"></p-dropdown>
              </div>
            </div>
            <div class="divider"></div>
            <button nbButton nbStepperNext>next</button>
          </form>
        </nb-step>

        <nb-step [stepControl]="secondForm" label="{{ 'Upload File' | translate }}">
          <p-toast></p-toast>

          <form [formGroup]="secondForm" (ngSubmit)="onSecondSubmit()" class="step-container">
            <h4>{{ 'Upload File' | translate }}</h4>
            <br>
            <div class="input-group">
              <div class="ui-inputgroup">
                <p-fileUpload name="importFile[]" customUpload="true" (uploadHandler)="onFileUpload($event)">
                  accept=".ts" maxFileSize="1000000">

                  <ng-template pTemplate="content">
                    <ul *ngIf="uploadedFiles.length">
                      <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                    </ul>
                  </ng-template>
                </p-fileUpload>
              </div>
            </div>
            <button nbButton nbStepperPrevious>prev</button>
            <div class="divider"></div>
            <button nbButton nbStepperNext>next</button>
          </form>
        </nb-step>

        <nb-step [stepControl]="thirdForm" label="{{ 'Map columns' | translate }}">
          <form [formGroup]="thirdForm" (ngSubmit)="onThirdSubmit()" class="step-container">
            <h4>{{ 'Map columns' | translate }}</h4>
            <br>
            <div class="input-group">
              <div class="ui-inputgroup">
                <ng-container *ngIf="data$ | async as data">
                  <ngx-import-mapper (onSelectValue)='selectValue($event)' [data]="data" [cols]="cols">
                  </ngx-import-mapper>
                </ng-container>
              </div>
              <div><b>* {{ 'This table displays just subset of the imported data needed for mapping.' | translate }}</b></div>
            </div>

            <button nbButton nbStepperPrevious>prev</button>
            <div class="divider"></div>
            <button nbButton nbStepperNext>next</button>
          </form>
        </nb-step>

        <nb-step [stepControl]="fourthForm" label="Import">
          <div class="step-container">
            <h3>RUN IMPORT!</h3>
            <button nbButton (click)="onImport()">import</button>
          </div>
        </nb-step>
      </nb-stepper>

    </nb-card-body>
  </nb-card>
</div>
