<div class="row">
  <nb-card style="width: 100%">
    <nb-card-body>

      <div class="header-container">
        <div>
          <h3>{{ 'Import User Card' | translate }}</h3>
        </div>
        <div style="display: inline-block;">
          <h3>&nbsp; </h3>
        </div>
      </div>

      <nb-stepper #stepper>

        <nb-step [stepControl]="firstForm" label="{{ 'Select File Type' | translate }}">
          <form [formGroup]="firstForm" (ngSubmit)="onFirstSubmit()" class="step-container">
            <h4>{{ 'Select File Type' | translate }}</h4>
            <br>
            <div class="input-group">
              <div class="ui-inputgroup">
                <p-dropdown formControlName="fileType" [options]="fileTypes" optionLabel="label" name="fileType"
                  autoWidth="false" [style]="{'width':'400px'}"></p-dropdown>
              </div>
            </div>
            <div class="divider"></div>
            <button nbButton nbStepperNext>next</button>
          </form>
        </nb-step>

        <nb-step [stepControl]="secondForm" label="{{ 'Upload File' | translate }}">
          <p-toast></p-toast>

          <form [formGroup]="secondForm" (ngSubmit)="onSecondSubmit()" class="step-container">
            <h4>{{ 'Upload File' | translate }}</h4>
            <br>
            <div class="input-group">
              <div class="ui-inputgroup">
                <p-fileUpload name="importFile[]" customUpload="true" (uploadHandler)="onFileUpload($event)">
                  accept=".ts" maxFileSize="1000000">

                  <ng-template pTemplate="content">
                    <ul *ngIf="uploadedFiles.length">
                      <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                    </ul>
                  </ng-template>
                </p-fileUpload>
              </div>
            </div>
            <button nbButton nbStepperPrevious>prev</button>
            <div class="divider"></div>
            <button nbButton nbStepperNext>next</button>
          </form>
        </nb-step>

        <nb-step [stepControl]="thirdForm" label="{{ 'Map columns' | translate }}">
          <form [formGroup]="thirdForm" (ngSubmit)="onThirdSubmit()" class="step-container">
            <h4>{{ 'Map columns' | translate }}</h4>
            <br>
            <div class="input-group">
              <div class="ui-inputgroup">
                <ng-container *ngIf="imports$ | async as imports">
                  <import-mapper [imports]="imports" [cols]="cols"></import-mapper>
                </ng-container>
              </div>
            </div>
            <button nbButton nbStepperPrevious>prev</button>
            <div class="divider"></div>
            <button nbButton nbStepperNext>next</button>
          </form>
        </nb-step>

        <nb-step [stepControl]="fourthForm" [hidden]="true" label="Third step">
          <div class="step-container">
            <h3>Wizard completed!</h3>
            <button nbButton (click)="stepper.reset()">Try again</button>
          </div>
        </nb-step>
      </nb-stepper>

    </nb-card-body>
  </nb-card>
</div>
