<div class="ui-g-12">
  <div class="ui-g-3">
    <label for="protocol">{{translate.get('Address') | async }}:&nbsp;&nbsp;</label>
    <p-dropdown [options]="addresses" 
    optionLabel="label" 
    optionValue="value" 
    [(ngModel)]="address"
    (onChange)="onAddressChange($event)"></p-dropdown>
  </div>
  <div class="ui-g-3">
    <label for="protocol">{{translate.get('Zone device') | async }}:&nbsp;&nbsp;</label>
    <p-dropdown [options]="zoneDevices$ | async"  
    optionValue="value" 
    name="zoneDevice"
    [(ngModel)]="zoneDevice"
    (onChange)="onZoneDeviceChange($event)" ></p-dropdown>
  </div>
  <div class="ui-g-5">
    <div class="divider"></div>
  </div>
  <div class="ui-g-1" style="text-align: right;">
    <p-button (click)="saveAssignements()" label="{{ translate.get('Save') | async }}"></p-button>
  </div>
  
          
</div>
<div class="dual-listbox-container">
    <div class="listbox available-items">
      <p-header>
        <input type="text" pInputText placeholder="Search Available Items" [(ngModel)]="filterTextAvailable" />
        <input type="checkbox" style="margin-bottom: 10px; margin-right: 5px;" (change)="toggleSelectAll(filteredAvailableItems, $event.target.checked)" />
        <label style="margin-bottom: 0px;" for="selectAllAvailable">Select All</label>
      </p-header>
  
      <p-virtualScroller [value]="filteredAvailableItems" scrollHeight="500px" [itemSize]="30">
        <ng-template let-item pTemplate="item">
          <input type="checkbox" [(ngModel)]="item.selected" [id]="'available_' + item.id" />
          <label [for]="'available_' + item.id">{{ item.name }}</label>
        </ng-template>
      </p-virtualScroller>
  
      <div class="pagination">
        <p-button label="Previous" (click)="previousPageAvailable()"></p-button>
        <div class="divider"></div>
        <span>Page {{ currentPageAvailable }} of {{ totalPagesAvailable }}</span>
        <div class="divider"></div>
        <p-button label="Next" (click)="nextPageAvailable()"></p-button>
      </div>
    </div>
  
    <div class="transfer-buttons">
      <button pButton icon="pi pi-angle-right" (click)="assignSelected()"></button>
      <button pButton icon="pi pi-angle-left" (click)="removeSelected()"></button>
      <button pButton icon="pi pi-angle-double-right" (click)="assignAll()"></button>
      <button pButton icon="pi pi-angle-double-left" (click)="removeAll()"></button>
    </div>
  
    <div class="listbox assigned-items">
      <p-header>
        <input type="text" pInputText placeholder="Search Assigned Items" [(ngModel)]="filterTextAssigned" />
        <input style="margin-bottom: 10px; margin-right: 5px;" type="checkbox" (change)="toggleSelectAll(filteredAssignedItems, $event.target.checked)" />
        <label style="margin-bottom: 0px;" for="selectAllAssigned">Select All</label>
      </p-header>
  
      <p-virtualScroller [value]="filteredAssignedItems" scrollHeight="500px" [itemSize]="30">
        <ng-template let-item pTemplate="item">
          <input type="checkbox" [(ngModel)]="item.selected" [id]="'assigned_' + item.id" />
          <label [for]="'assigned_' + item.id">{{ item.name }}</label>
        </ng-template>
      </p-virtualScroller>
  
      <div class="pagination">
        <p-button label="Previous" (click)="previousPageAssigned()"></p-button>
        <div class="divider"></div>
        <span>Page {{ currentPageAssigned }} of {{ totalPagesAssigned }}</span>
        <div class="divider"></div>
        <p-button label="Next" (click)="nextPageAssigned()"></p-button>
      </div>
    </div>
  </div>