<div class="row">
  <nb-card style="width: 100%">
    <nb-card-body>

      <ngx-title-header title='Route'></ngx-title-header>

      <ngx-table [columns]="cols" [value]="routes$ | async" (lazyLoad)="loadRoutesLazy($event)"
        dataKey="name" [totalRecords]="totalRecords" [loading]="loading" (rowSelect)="onRowSelect($event)"
        (rowUnselect)="onRowUnselect($event)">
      </ngx-table>


      <div class="button-positioner">
        <p-button icon="fa fa-plus" (click)="showDialogToAdd()" label="{{ translate.get('Create Route') | async }}"></p-button>
      </div>
      <div class="button-positioner">
        <p-button icon="fa fa-edit" (click)="showDialogToEdit()" label="{{ translate.get('Edit Route') | async }}"></p-button>
        <div class="divider"></div>
      </div>
      <div class="button-positioner">
        <p-fileUpload #fubauto mode="basic" name="importFile[]"
                    (uploadHandler)="onFileUpload($event)"
                    maxFileSize="1000000"
                    [auto]="true"
                    customUpload="true"
                    chooseLabel="{{ translate.get('Upload Routes') | async }}">
          </p-fileUpload>
        <div class="divider"></div>
      </div>

      <p-dialog header="User Account Details" [(visible)]="displayDialog" [focusOnShow]="false" [responsive]="true"
        showEffect="fade" [modal]="true" height="600" [style]="{width: '500px'}">
        <div class="ui-g ui-fluid" *ngIf="!route">
          <i class="pi pi-info"></i>
          <p>&nbsp;&nbsp; {{"Please select a row for an action."| translate }}</p>
        </div>
        <div class="ui-g ui-fluid" *ngIf="route">
          <form [formGroup]="routeForm" (ngSubmit)="save()">
            <div class="ui-g-12">
              <div class="ui-g-4">
                <label for="account">Route:</label>
              </div>
              <div class="ui-g-8">
                <input pInputText type="name" id="name" formControlName="name"
                  onclick="this.setSelectionRange(0, this.value.length)" autofocus class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.account.errors }" />
                <div *ngIf="submitted && f.account.errors" class="invalid-feedback">
                  <div *ngIf="f.account.errors.required">Name is required</div>
                </div>
              </div>
            </div>
            <div class="ui-g-12">
              <div class="ui-g-4">
                <label for="country">City:</label>
              </div>
              <div class="ui-g-8">
                <input pInputText id="city" formControlName="city" readonly="true"
                  onclick="this.setSelectionRange(0, this.value.length)" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.country.errors }" />
                <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                  <div *ngIf="f.country.errors.required">City is required</div>
                  <div *ngIf="f.country.errors.minlength">City must be at least 6 characters</div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <p-footer>
          <div *ngIf="route">
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
              <button type="button" pButton icon="fa fa-close" (click)="delete()" label="Delete"></button>
              <button type="button" pButton icon="fa fa-check" (click)="save()" label="Save"></button>
            </div>
          </div>
        </p-footer>
      </p-dialog>

    </nb-card-body>
  </nb-card>
</div>
