<div class="row">
    <nb-card style="width: 100%">
      <nb-card-body>
        <nb-card status="info">
          <nb-card-header>{{ "Zone devices" | translate }}</nb-card-header>
          <nb-card-body style="padding: 0rem 0.0rem 0rem 0rem;">
            <div class="ui-g ui-fluid">
              <div class="ui-g-12">


                <div class="ui-g-6">
                  <div class="ui-g-3">
                    <span class="ui-float-label">
                      <input
                        pInputText
                        id="customerName"
                        [(ngModel)]="customerName"
                        onclick="this.setSelectionRange(0, this.value.length)"
                      />
                      <label for="customerName">{{
                        "Name" | translate
                      }}</label>
                    </span>
                  </div>
                  <div class="ui-g-3">
                    <span class="ui-float-label">
                      <input pInputText id="gsmId" [(ngModel)]="gsmId" />
                      <label for="gsmId">{{ "ADOGSM-2 ID" | translate }}</label>
                    </span>
                  </div>
                  <div class="ui-g-3">
                    <span class="ui-float-label">
                      <input pInputText id="deviceId" [(ngModel)]="deviceId" />
                      <label for="deviceId">{{ "Device ID" | translate }}</label>
                    </span>
                  </div>
                  <div class="ui-g-3">
                    <span class="ui-float-label">
                      <input
                        pInputText
                        id="usageCurrentFrom"
                        [(ngModel)]="usageCurrentFrom"
                        onclick="this.setSelectionRange(0, this.value.length)"
                      />
                      <label for="usageCurrentFrom">{{
                        "Usage From" | translate
                      }}</label>
                    </span>
                  </div>
                </div>


                <div class="ui-g-6">
                  <div class="ui-g-3">
                    <span class="ui-float-label">
                      <input
                        pInputText
                        id="usageCurrentTo"
                        [(ngModel)]="usageCurrentTo"
                        onclick="this.setSelectionRange(0, this.value.length)"
                      />
                      <label for="usageCurrentTo">{{
                        "Usage To" | translate
                      }}</label>
                    </span>
                  </div>
                  <div class="ui-g-3">
                    <span class="ui-float-label">
                      <p-calendar
                        [(ngModel)]="dateFrom"
                        dateFormat="dd.mm.yy"
                        showIcon="true"
                        appendTo="body"
                        [yearNavigator]="true"
                        yearRange="2000:2030"
                        [monthNavigator]="true"
                      ></p-calendar>
                      <label for="dateFrom">{{ "Date From" | translate }}</label>
                    </span>
                  </div>
                <div class="ui-g-3">
                    <span class="ui-float-label">
                      <p-calendar
                        [(ngModel)]="dateTo"
                        appendTo="body"
                        [yearNavigator]="true"
                        [monthNavigator]="true"
                        yearRange="2000:2030"
                        dateFormat="dd.mm.yy"
                        showIcon="true"
                      ></p-calendar>
                      <label for="dateTo">{{ "Date To" | translate }}</label>
                    </span>
                  </div> 
                  <div class="ui-g-3">
                    <div style="text-align: right;">
                    <p-button
                      (click)="search()"
                      icon="fa fa-search"
                      label="{{ 'Search' | translate }}"
                    ></p-button>
                  </div>
                  </div>
              </div>
              </div>
              
            </div>
          </nb-card-body>
        </nb-card>
  
        <nb-card style="margin-top: -25px">
          <nb-card-body style="padding-left: 0; padding-right: 0; padding-top: 0">
            <ngx-table
              [columns]="cols$ | async"
              [value]="userCards"
              (lazyLoad)="loadUserCardsLazy($event)"
              [selection]="selectedUserCard"
              dataKey="customerId"
              dataKey1="customerId"
              [totalRecords]="totalRecords"
              [loading]="loading"
              [fontWeightFunction]="fontWeight"
              [styleColorFunction]="styleColor"
              (clickFunction)="onCustomerNameClick($event)"
              [sortable]="true"
              rows="8"
            ></ngx-table>
  
            <!-- <div class="button-positioner">
              <p-button
                (onClick)="onExportButtonClick()"
                label="{{ 'Export' | translate }}"
              ></p-button>
            </div> -->
            <!-- <div class="button-positioner">
              <p-button
                (onClick)="onGraphButtonClick()"
                label="{{ 'Graph' | translate }}"
              ></p-button>
              <div class="divider"></div>
            </div> -->
            <!-- <div class="button-positioner">
              <p-button
                *ngIf="(route && route.toString().trim() !== '') 
                || (readingBook && readingBook.toString().trim() !== '') 
                || (address && address.toString().trim() !== '') 
                || (municipality && municipality.toString().trim() !== '')"
                (onClick)="onSummariesButtonClick()"
                label="{{ 'Summary Graph' | translate }}"
              ></p-button>
              <div class="divider"></div>
            </div> -->
            <div class="button-positioner">
              <p-button
                (onClick)="onReportButtonClick()"
                label="{{ 'Generate Report' | translate }}"
              ></p-button>
              <div class="divider"></div>
            </div>
          </nb-card-body>
        </nb-card>
      </nb-card-body>
    </nb-card>
  </div>
  <ng-container *ngIf="displayId$ | async">
    <ngx-user-card-details
      [(displayDialog)]="displayDialog"
      [(userCardId)]="id"
      (closeFunction)="onUserCardDialogClose($event)"
    ></ngx-user-card-details>
  </ng-container>
  