<div class="row">
  <nb-card style="width: 100%">
    <nb-card-body>

        <ngx-title-header title='Account Management'></ngx-title-header>

        <div style="position: relative; float: right;margin-top: 5px;margin-bottom: 5px;">
          <div class="ui-inputgroup">
            <span class="ui-float-label">
              <input id="float-input" type="text" size="50" [(ngModel)]="citySearch" pInputText
                onclick="this.setSelectionRange(0, this.value.length)" style="padding-top: 7px; padding-bottom: 7px;">
              <label for="float-input">{{ 'Search by username or email' | translate }} </label>
              <button id="search-btn" type="button" icon="pi pi-search" pButton
                label="{{ translate.get('Search') | async }}" (click)="onCitySearch()"></button>
            </span>
          </div>
        </div>


        <ngx-table [columns]="cols" [value]="cities" (lazyLoad)="loadCitiesLazy($event)"
        [selection]="selectedCity" dataKey="id" [totalRecords]="totalRecords" [loading]="loading"
        (rowSelect)="onRowSelect($event)" (rowUnselect)="onRowUnselect($event)">
        </ngx-table>

        <div class="button-positioner">
          <p-button icon="fa fa-plus" (click)="showDialogToAdd()" label="{{ translate.get('Create Account') | async }}">
          </p-button>
        </div>
        <div class="button-positioner">
          <p-button icon="fa fa-edit" (click)="showDialogToEdit()" label="{{ translate.get('Edit Account') | async }}">
          </p-button>
          <div class="divider"></div>
        </div>


    </nb-card-body>
  </nb-card>
</div>
