::ng-deep  body #address > .ui-dropdown {
  margin-top: 6px !important;
}

::ng-deep  body #deviceDialog {
  z-index: 2500 i !important;
}

.footer-div {
  display: flex !important;
  justify-content: space-between;
  width: 100%;
}

.fotter-loraDownlinkMessage {
  color: red;
}