<div class="row">
  <nb-card style="width: 100%; margin-top: -25px;">
    <nb-card-body>

        <nb-card status="info">
          <nb-card-header>{{ 'User Card'|translate }}</nb-card-header>
          <nb-card-body>

      <div class="ui-g ui-fluid">
        <div class="ui-g-12">

          <!--
          <div class="ui-g-2">
            <span class="ui-float-label">
              <p-dropdown [options]="displayTypes"
                          [(ngModel)]="displayType"
                          [showTransitionOptions]="'0ms'"
                          [hideTransitionOptions]="'0ms'"
                          (onChange)="onDisplayTypeChange($event)"></p-dropdown>
              <label for="displayType">{{ "Vrsta prikaza" | translate }}</label>
            </span>
          </div> -->
          <div class="ui-g-7">
          <div class="ui-g-2">
            <div class="ui-float-label">
              <label>{{ "Usage Current" | translate }}: </label>
            </div>
            <div style="padding-top: 25px;"><b>{{ sumUsageCurrent$ | async}}</b> m3
            </div>
          </div>
          <div class="ui-g-2">
            <div class="ui-float-label">
              <label>{{ "Usage Reverse" | translate }}: </label>
            </div>
            <div style="padding-top: 25px;"><b>{{ sumUsageCurrentReverse$ | async}}</b> m3
            </div>
          </div>
          <div class="ui-g-2">
            <div class="ui-float-label">
              <label>{{ "Monthly Usage" | translate }}: </label>
            </div>
            <div style="padding-top: 25px;"><b>{{ sumUsageCurrentMonth$ | async}}</b> m3
            </div>
          </div>
          <div class="ui-g-2">
            <div class="ui-float-label">
              <label>{{ "Usage Average" | translate }}: </label>
            </div>
            <div style="padding-top: 25px;"><b>{{ sumUsageAverage$ | async}}</b> m3
            </div>
          </div>
          <div class="ui-g-2">
            <div class="ui-float-label">
              <label>{{ "State" | translate }}: </label>
            </div>
            <div style="padding-top: 25px;"><b style="color: #931D03;">{{ sumDiffLastRead$ | async}}</b> m3
            </div>
          </div>
          </div>
          <div class="ui-g-5">
            <p-chart type="bar" [height]="100" [data]="data"></p-chart>
          </div>


        </div>
        <div class="ui-g-12">
          <div class="ui-g-11">
          <div class="ui-g-2">
            <span class="ui-float-label">
              <input
                pInputText
                id="customerName"
                [(ngModel)]="customerName"
                onclick="this.setSelectionRange(0, this.value.length)"
              />
              <label for="customerName">{{
                "Customer name" | translate
              }}</label>
            </span>
          </div>
          <div class="ui-g-2">
            <span class="ui-float-label">
              <input
              pInputText
              id="customerId"
              [(ngModel)]="customerId"
            />
              <label for="customerId">{{ "Customer ID" | translate }}</label>
            </span>
          </div>
          <div class="ui-g-2">
            <span class="ui-float-label">
              <input
                pInputText
                id="address"
                [(ngModel)]="address"
                onclick="this.setSelectionRange(0, this.value.length)"
              />
              <label for="address">{{ "Address" | translate }}</label>
            </span>
          </div>

          <div class="ui-g-2">
            <span class="ui-float-label">
              <input
              pInputText
              id="deviceId"
              [(ngModel)]="deviceId"
            />
              <label for="deviceId">{{ "Device ID" | translate }}</label>
            </span>
          </div>

          <div class="ui-g-2">
            <span class="ui-float-label">
              <input
                pInputText
                id="usageCurrentFrom"
                [(ngModel)]="usageCurrentFrom"
                onclick="this.setSelectionRange(0, this.value.length)"
              />
              <label for="usageCurrentFrom">{{ "Usage From" | translate }}</label>
            </span>
          </div>
          <div class="ui-g-2">
            <span class="ui-float-label">
              <input
                pInputText
                id="usageCurrentTo"
                [(ngModel)]="usageCurrentTo"
                onclick="this.setSelectionRange(0, this.value.length)"
              />
              <label for="usageCurrentTo">{{ "Usage To" | translate }}</label>
            </span>
          </div>
        </div>
          <div class="ui-g-1">
            <p-button (click)="search()"  icon="fa fa-search" label="{{ 'Search' | translate }}"></p-button>
          </div>

        </div>
        <div class="ui-g-12" >
          <div class="ui-g-11">
          <ng-container *ngIf="displayType === 1">
          <div class="ui-g-2">
            <span class="ui-float-label">
              <p-multiSelect appendTo="body" [options]="readingBooks" defaultLabel="&nbsp;" [(ngModel)]="readingBook" [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'"></p-multiSelect>
              <label for="readingBook">{{ "Reading Book" | translate }}</label>
            </span>
          </div>
          <div class="ui-g-2">
            <span class="ui-float-label">
              <p-multiSelect appendTo="body" [options]="routes" defaultLabel="&nbsp;" [(ngModel)]="route" [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'"></p-multiSelect>
              <label for="route">{{ "Route" | translate }}</label>
              </span>
          </div>
          <div class="ui-g-2">
            <span class="ui-float-label">
              <p-multiSelect appendTo="body" [options]="municipalities" defaultLabel="&nbsp;" [(ngModel)]="municipality" [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'"></p-multiSelect>
              <label for="municipality">{{ "Municipality" | translate }}</label>
            </span>
          </div>

          <div class="ui-g-2">
            <span class="ui-float-label">
              <input
              pInputText
              id="gsmId"
              [(ngModel)]="gsmId"
            />
              <label for="gsmId">{{ "ADOGSM-2 ID" | translate }}</label>
            </span>
          </div>

        </ng-container>
        <ng-container *ngIf="displayType === 2">


          <div class="ui-g-2">
            <span class="ui-float-label">
              <p-calendar [(ngModel)]="dateFrom" dateFormat="dd.mm.yy" showIcon="true"></p-calendar>
              <label for="dateFrom">{{ "Date From" | translate }}</label>
              </span>
          </div>
          <div class="ui-g-2">
            <span class="ui-float-label">
              <p-calendar [(ngModel)]="dateTo" dateFormat="dd.mm.yy" showIcon="true"></p-calendar>
              <label for="dateTo">{{ "Date To" | translate }}</label>
            </span>
          </div>
          <div class="ui-g-2">
            <span class="ui-float-label">
              <input
              pInputText
              id="gsmId"
              [(ngModel)]="gsmId"
              onclick="this.setSelectionRange(0, this.value.length)"
            />
              <label for="gsmId">{{ "ADOGSM-2 ID" | translate }}</label>
            </span>
          </div>
        </ng-container>
          <div class="ui-g-2">
            <span class="ui-float-label">
              <input
                pInputText
                id="usageReverseFrom"
                [(ngModel)]="usageReverseFrom"
                onclick="this.setSelectionRange(0, this.value.length)"
              />
              <label for="usageReverseFrom">{{ "Usage Reverse From" | translate }}</label>
            </span>
          </div>
          <div class="ui-g-2">
            <span class="ui-float-label">
              <input
                pInputText
                id="usageReverseTo"
                [(ngModel)]="usageReverseTo"
                onclick="this.setSelectionRange(0, this.value.length)"
              />
              <label for="usageReverseTo">{{ "Usage Reverse To" | translate }}</label>
            </span>
          </div>
          </div>
          <div class="ui-g-1">
            <p-button (click)="clear()" icon="fa fa-refresh" label="&nbsp;&nbsp;{{ 'Clear' | translate }}"></p-button>
          </div>
        </div>

      </div>

    </nb-card-body>
   </nb-card>

   <nb-card style="margin-top: -25px;">
    <nb-card-body style="padding-left: 0; padding-right: 0; padding-top: 0;">

      <ngx-table
        [columns]="cols$ | async"
        [value]="userCards"
        (lazyLoad)="loadUserCardsLazy($event)"
        [selection]="selectedUserCard"
        dataKey="customerId"
        dataKey1="customerId"
        [totalRecords]="totalRecords"
        [loading]="loading"
        [fontWeightFunction]="fontWeight"
        [styleColorFunction]="styleColor"
        (clickFunction)="onCustomerNameClick($event)"
        rows="9"
      ></ngx-table>

      <div style="position: relative; float: right; margin-right: 15px !important;">
        <a routerLink="/pages/export-user-card"
          ><p-button label="{{ 'Export' | translate }}"></p-button
        ></a>
      </div>

    </nb-card-body>
  </nb-card>


    </nb-card-body>
  </nb-card>
</div>
<ng-container *ngIf="displayId$ | async">
  <ngx-user-card-details [(displayDialog)]="displayDialog" [(userCardId)]="id" (closeFunction)="onUserCardDialogClose($event)" ></ngx-user-card-details>
</ng-container>
