<div class="row">
  <nb-card style="width: 100%">
    <nb-card-body>
      <ngx-title-header title='User Card'></ngx-title-header>

        <div class="ui-g ui-fluid">
        <div class="ui-g-12">
          <div class="ui-g-2">
            <span class="ui-float-label">
              <input pInputText id="customerName" [(ngModel)]="customerName"
                onclick="this.setSelectionRange(0, this.value.length)" />
              <label for="customerName">{{ 'Customer name' | translate }}</label>
            </span>
        </div>
      </div>
      </div>

      <ngx-table [columns]="cols$ | async"
        [value]="userCards"
        (lazyLoad)="loadUserCardsLazy($event)"
        [selection]="selectedUserCard"
        dataKey="customerId"
        dataKey1="customerId"
        [totalRecords]="totalRecords"
        [loading]="loading"
        [fontWeightFunction]="fontWeight"
        [styleColorFunction]="styleColor"
        (clickFunction)="onCustomerNameClick($event)"></ngx-table>

      <div style="position: relative; float: right; margin-top: 5px;">
        <a routerLink="/pages/export-user-card"><p-button label="{{ 'Export' | translate }}"></p-button></a>
      </div>
    </nb-card-body>
  </nb-card>
</div>
