<div class="row">
  <nb-card style="width: 100%;">
    <nb-card-body>
      <ngx-title-header title="User Card"></ngx-title-header>

      <div class="ui-g ui-fluid">
        <div class="ui-g-12">
          <div class="ui-g-2">
            <span class="ui-float-label">
              <input
                pInputText
                id="customerName"
                [(ngModel)]="customerName"
                onclick="this.setSelectionRange(0, this.value.length)"
              />
              <label for="customerName">{{
                "Customer name" | translate
              }}</label>
            </span>
          </div>
          <div class="ui-g-2">
            <span class="ui-float-label">
              <input
                pInputText
                id="route"
                [(ngModel)]="route"
                onclick="this.setSelectionRange(0, this.value.length)"
              />
              <label for="route">{{ "Route" | translate }}</label>
            </span>
          </div>
          <div class="ui-g-2">
            <span class="ui-float-label">
              <input
                pInputText
                id="address"
                [(ngModel)]="address"
                onclick="this.setSelectionRange(0, this.value.length)"
              />
              <label for="address">{{ "Address" | translate }}</label>
            </span>
          </div>

          <div class="ui-g-2">
            <span class="ui-float-label">
              <input
                pInputText
                id="usageCurrentFrom"
                [(ngModel)]="usageCurrentFrom"
                onclick="this.setSelectionRange(0, this.value.length)"
              />
              <label for="usageCurrentFrom">{{ "Usage From" | translate }}</label>
            </span>
          </div>
          <div class="ui-g-2">
            <span class="ui-float-label">
              <input
                pInputText
                id="usageCurrentTo"
                [(ngModel)]="usageCurrentTo"
                onclick="this.setSelectionRange(0, this.value.length)"
              />
              <label for="usageCurrentTo">{{ "Usage To" | translate }}</label>
            </span>
          </div>
          <div class="button-positioner">
            <p-button icon="fa fa-search" label="{{ 'Search' | translate }}"></p-button>
          </div>

        </div>
        <div class="ui-g-12">
          <div class="ui-g-2">
            <span class="ui-float-label">
              <input
                pInputText
                id="readingBook"
                [(ngModel)]="readingBook"
                onclick="this.setSelectionRange(0, this.value.length)"
              />
              <label for="readingBook">{{ "Reading Book" | translate }}</label>
            </span>
          </div>
          <div class="ui-g-2">
            <span class="ui-float-label">
              <input
                pInputText
                id="readingBook"
                [(ngModel)]="address"
                onclick="this.setSelectionRange(0, this.value.length)"
              />
              <label for="address">{{ "Address" | translate }}</label>
            </span>
          </div>
          <div class="ui-g-2">
            <span class="ui-float-label">
              <input
                pInputText
                id="municipality"
                [(ngModel)]="municipality"
                onclick="this.setSelectionRange(0, this.value.length)"
              />
              <label for="municipality">{{ "Municipality" | translate }}</label>
            </span>
          </div>
          <div class="ui-g-2">
            <span class="ui-float-label">
              <input
                pInputText
                id="usageReverseFrom"
                [(ngModel)]="usageReverseFrom"
                onclick="this.setSelectionRange(0, this.value.length)"
              />
              <label for="usageReverseFrom">{{ "Usage Reverse From" | translate }}</label>
            </span>
          </div>
          <div class="ui-g-2">
            <span class="ui-float-label">
              <input
                pInputText
                id="usageReverseTo"
                [(ngModel)]="usageReverseTo"
                onclick="this.setSelectionRange(0, this.value.length)"
              />
              <label for="usageReverseTo">{{ "Usage Reverse To" | translate }}</label>
            </span>
          </div>
          <div class="button-positioner">
            <p-button icon="fa fa-refresh" label="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ 'Clear' | translate }}"></p-button>
          </div>
        </div>


      </div>

      <br/><br/>

      <ngx-table
        [columns]="cols$ | async"
        [value]="userCards"
        (lazyLoad)="loadUserCardsLazy($event)"
        [selection]="selectedUserCard"
        dataKey="customerId"
        dataKey1="customerId"
        [totalRecords]="totalRecords"
        [loading]="loading"
        [fontWeightFunction]="fontWeight"
        [styleColorFunction]="styleColor"
        (clickFunction)="onCustomerNameClick($event)"
      ></ngx-table>

      <div style="position: relative; float: right; margin-top: 5px;">
        <a routerLink="/pages/export-user-card"
          ><p-button label="{{ 'Export' | translate }}"></p-button
        ></a>
      </div>
    </nb-card-body>
  </nb-card>
</div>
