<div class="dual-listbox-container">
    <div class="listbox">
        <p-header>
            <input type="text" pInputText placeholder="Search Available Items" [(ngModel)]="filterTextAvailable" />
            <input style="margin-bottom: 10px; margin-right: 5px;" type="checkbox" (change)="toggleSelectAll(filteredAvailableItems, $event.target.checked)" />
            <label style="margin-bottom: 0px;">Select All</label>
        </p-header>


        <p-virtualScroller [value]="filteredAvailableItems" scrollHeight="500px" [itemSize]="35">
            <ng-template let-item pTemplate="item">
                <input type="checkbox" [(ngModel)]="item.selected" [id]="'available_' + item.id" />
                <label [for]="'available_' + item.id">{{ item.name }}</label>
            </ng-template>
        </p-virtualScroller>
    </div>

    <div class="transfer-buttons">
        <div class="transfer-buttons">
            <button pButton icon="pi pi-angle-right" (click)="assignSelected()"></button>
            <button pButton icon="pi pi-angle-left" (click)="removeSelected()"></button>
            <button pButton icon="pi pi-angle-double-right" (click)="assignAll()"></button>
            <button pButton icon="pi pi-angle-double-left" (click)="removeAll()"></button>
          </div>
    </div>

    <div class="listbox">
        <p-header>
            <input type="text"  pInputText placeholder="Search Assigned Items" [(ngModel)]="filterTextAssigned" />
            <input type="checkbox" style="margin-bottom: 10px; margin-right: 5px;" (change)="toggleSelectAll(filteredAssignedItems, $event.target.checked)" />
            <label style="margin-bottom: 0px;">Select All</label>
        </p-header>

        <p-virtualScroller [value]="filteredAssignedItems" scrollHeight="500px" [itemSize]="35">
            <ng-template let-item pTemplate="item">
                <input type="checkbox" [(ngModel)]="item.selected" [id]="'assigned_' + item.id" />
                <label [for]="'assigned_' + item.id">{{ item.name }}</label>

            </ng-template>
        </p-virtualScroller>
    </div>
</div>