.input-group {
  padding-bottom: 6rem;
}

.nb-theme-default [nbButton].appearance-filled.size-medium {
  padding: 0.6875rem 1.125rem;
}

.step-content {
  text-align: center !important;
}

.lorem {
  text-align: justify;
  margin-bottom: 2rem;
}

:host ::ng-deep .ui-toast {
  top: 80px;
}
:host ::ng-deep .news-active .ui-toast {
  top: 150px;
}
@media screen and (max-width: 64em) {
  :host ::ng-deep .ui-toast {
      top: 110px;
  }
  :host ::ng-deep .news-active .ui-toast {
      top: 180px;
  }
}
