<div class="row">
  <nb-card style="width: 100%">
    <nb-card-body>

      <ngx-title-header title="{{ translate.get('Organisations') | async }}"></ngx-title-header>

      <ngx-table [columns]="cols" [value]="cities$ | async" (lazyLoad)="loadCitiesLazy($event)" [selection]="selectedCity"
        dataKey="id" [totalRecords]="totalRecords" [loading]="loading" (rowSelect)="onRowSelect($event)"
        (rowUnselect)="onRowUnselect($event)">
      </ngx-table>

      <div class="button-positioner">
        <p-button icon="fa fa-plus" (click)="showDialogToEdit()" label="{{ translate.get('Edit City') | async }}">
        </p-button>
      </div>

      <p-dialog header="User Account Details" [(visible)]="displayDialog" [focusOnShow]="false" [responsive]="true"
        showEffect="fade" [modal]="true" height="600" [style]="{width: '500px'}">
        <div class="ui-g ui-fluid" *ngIf="!city">
          <i class="pi pi-info"></i>
          <p>&nbsp;&nbsp; {{"Please select a row for an action."| translate }}</p>
        </div>
        <div class="ui-g ui-fluid" *ngIf="city">
          <form [formGroup]="cityForm" (ngSubmit)="save()">
            <div class="ui-g-12">
              <div class="ui-g-4">
                <label for="name">{{ translate.get('City') | async }}:</label>
              </div>
              <div class="ui-g-8">
                <input pInputText type="name" id="name" formControlName="name"
                  onclick="this.setSelectionRange(0, this.value.length)" autofocus class="form-control" />
              </div>
            </div>
            <div class="ui-g-12">
              <div class="ui-g-4">
                <label for="organisation">{{ translate.get('Organisation') | async }}:</label>
              </div>
              <div class="ui-g-8">
                <input pInputText id="organisation" formControlName="organisation"
                  onclick="this.setSelectionRange(0, this.value.length)" class="form-control" />
              </div>
            </div>
            <div class="ui-g-12">
              <div class="ui-g-4">
                <label for="address1">{{ translate.get('Address') | async }} 1:</label>
              </div>
              <div class="ui-g-8">
                <input pInputText id="address1" formControlName="address1"
                  onclick="this.setSelectionRange(0, this.value.length)" class="form-control" />
              </div>
            </div>
            <div class="ui-g-12">
              <div class="ui-g-4">
                <label for="address2">{{ translate.get('Address') | async }} 2:</label>
              </div>
              <div class="ui-g-8">
                <input pInputText id="address2" formControlName="address2"
                  onclick="this.setSelectionRange(0, this.value.length)" class="form-control" />
              </div>
            </div>
            <div class="ui-g-12">
              <div class="ui-g-4">
                <label for="phone">{{ translate.get('Phone') | async }}:</label>
              </div>
              <div class="ui-g-8">
                <input pInputText id="phone" formControlName="phone"
                  onclick="this.setSelectionRange(0, this.value.length)" class="form-control" />
              </div>
            </div>
            <div class="ui-g-12">
              <div class="ui-g-4">
                <label for="email">{{ translate.get('Email') | async }}:</label>
              </div>
              <div class="ui-g-8">
                <input pInputText id="email" formControlName="email"
                  onclick="this.setSelectionRange(0, this.value.length)" class="form-control" />
              </div>
            </div>
            <div class="ui-g-12">
              <div class="ui-g-4">
                <label for="lang">{{ translate.get('Language') | async }}:</label>
              </div>
              <div class="ui-g-8">
                <input pInputText id="lang" formControlName="lang"
                  onclick="this.setSelectionRange(0, this.value.length)" class="form-control" />
              </div>
            </div>
          </form>
        </div>
        <p-footer>
          <div *ngIf="city">
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
              <button type="button" pButton icon="fa fa-check" (click)="save()" label="Save"></button>
              <button type="button" pButton icon="fa fa-cog" (click)="openConfigEditor()" label="Configuration"></button>
              <button type="button" pButton icon="fa fa-close" (click)="closeDialog()" label="Close"></button>
            </div>
          </div>
        </p-footer>
      </p-dialog>

      <p-dialog header="City Configuration" [(visible)]="displayConfigDialog" [focusOnShow]="false" [responsive]="true"
        showEffect="fade" [modal]="true" [style]="{width: '800px', height: '600px'}">
        <ngx-monaco-editor *ngIf="displayConfigDialog" [options]="editorOptions" [(ngModel)]="configValue" (init)="onEditorInit($event)" style="height: 400px; display: block;"></ngx-monaco-editor>
        <div *ngIf="configError" class="ui-message ui-messages-error" style="margin-top: 8px;">
          <i class="pi pi-times"></i> {{ configError }}
        </div>
        <p-footer>
          <button type="button" pButton icon="fa fa-check" (click)="saveConfig()" label="Save"></button>
          <button type="button" pButton icon="fa fa-close" (click)="closeConfigEditor()" label="Close"></button>
        </p-footer>
      </p-dialog>

    </nb-card-body>
  </nb-card>
</div>
