@import './themes';

@mixin nb-overrides() {
  nb-select.size-medium button {
    padding: 0.4375rem 2.2rem 0.4375rem 1.125rem !important;

    nb-icon {
      right: 0.41rem !important;
    }
  }

  nb-card nb-list {
    @include nb-scrollbars(
      nb-theme(card-scrollbar-color),
      nb-theme(card-scrollbar-background-color),
      nb-theme(card-scrollbar-width));
  }

  .table {
    color: nb-theme(text-basic-color) !important;
  }
}

.nb-theme-default nb-layout .layout .layout-container .content .columns nb-layout-column {
  padding: 1.35rem 2.25rem 0.75rem !important;
}

.nb-theme-default nb-card.status-info nb-card-header {
  background-color: #0072C6 !important;
  border-bottom-color: #0072C6 !important;
}

.nb-theme-default nb-checkbox.status-basic .custom-checkbox.checked {
  background-color: #0072C6 !important;
  border-color: #0072C6 !important;
}

.ui-datatable thead th {
  white-space:normal !important;
}

.ui-datatable .ui-datatable-loading {
  position: absolute;
  width: 100%;
  height: 100%;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=20)';
  opacity: 0.2;
}

.ui-datatable .ui-datatable-loading-content {
    position: absolute;
    left: 50%;
    top: 25%;
}

.ui-table,
.ui-table .ui-table-wrapper table {
  font-size: 13px !important;
}

.divider {
  width:5px;
  height:auto;
  display:inline-block;
}

.button-positioner {
  position: relative;
  float: right;
  margin-top: 10px;
}

body .ui-button {
  background-color: #0072C6 !important;
}

body .ui-table .ui-table-thead > tr > th {
 /* color: #0072C6 !important; */
  padding: -7.429em 0.857em;
  border: 0 !important;
  border-bottom: 1px solid #c8c8c8 !important;
  color: white !important;
  background-color: #0072C6 !important;
  /*background-color: white !important;*/
  font-weight: 700 !important;
   height: 54px !important;
}


body .ui-table .ui-table-tbody > tr {
  line-height: 0.98 !important;
}

body .ui-table .ui-table-tbody > tr > td {
  background-color: inherit;
  /* border: 1px solid #c8c8c8; */
  -webkit-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
  border: 0 !important;
  padding: 12px !important;
}

body .ui-table .ui-table-tbody > tr:nth-child(even).ui-state-highlight {
  background-color: lightgray !important;
   color: #ffffff;
}

body .ui-table .ui-table-tbody > tr.ui-state-highlight {
  background-color: lightgray !important;;
  color: #ffffff;
}

body .ui-paginator {
  background-color: white !important;
  border: 0 !important;
  padding: 0 !important;
}

body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
  background-color: #dee4ea !important;
  color: #ffffff !important;
}


body .ui-table .ui-sortable-column.ui-state-highlight {
  /*background-color: #f4f4f4 !important;*/

  color: #0072C6 !important;

}

body .ui-table .ui-sortable-column .ui-sortable-column-icon {
  color: #848484 !important;
}

body label {
  font-size: 13px !important;
}

body .ui-widget {
  font-size: 13px !important;
}

body .ui-inputtext {
  font-size: 13px !important;
}

body .ui-inputtext, textarea {
 /* border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  */
  border-top-color: white !important;
  border-left-color: white !important;
  border-right-color: white !important;
  border-bottom: 1px solid #a9acb1ec !important;
  border-radius: 0 !important;
  font-size: 13px !important;
}

body .ui-dropdown {
  border-top-color: white !important;
  border-left-color: white !important;
  border-right-color: white !important;
  border-bottom: 1px solid #a9acb1ec !important;
  border-radius: 0 !important;
  margin-top: -3px !important;
  font-size: 13px !important;
}

body .ui-dropdown-label-container > .ui-inputtext {
  border-bottom: 1px solid white !important;
}

body .ui-multiselect {
  border-top-color: white !important;
  border-left-color: white !important;
  border-right-color: white !important;
  border-bottom: 1px solid #a9acb1ec !important;
  border-radius: 0 !important;
  margin-top: -3px !important;
  font-size: 13px !important;
}

body .ui-dropdown .ui-inputtext  .ui-multiselect {
  border-color: white !important;
  border-radius: 0 !important;
}

body .ui-dialog .ui-dialog-titlebar {
  color: white !important;
  background-color: #0072C6 !important;
}

body .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon {
  color: white !important;
}

.ui-g-1, .ui-g-2, .ui-g-3, .ui-g-4, .ui-g-5, .ui-g-6, .ui-g-7, .ui-g-8, .ui-g-9, .ui-g-10, .ui-g-11, .ui-g-12 {
  margin-top: 0.9em !important;
}

.ui-g label {
  font-weight: bold;
  margin-top: 0.25em;
  display: block;
}

.input-group {
  padding-bottom: 6rem !important;
}

.nb-theme-default [nbButton].appearance-filled.size-medium {
  padding: 0.6875rem 1.125rem;
}

