p {
  font-family: Lato;
}
 ::ng-deep .ui-datatable .ui-datatable-loading {
    position: absolute;
    width: 100%;
    height: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    opacity: 0.2;
  }
  ::ng-deep .ui-datatable .ui-datatable-loading-content {
      position: absolute;
      left: 50%;
      top: 25%;
  }

  ::ng-deep .ui-table,
  .ui-table .ui-table-wrapper table {
    font-size: 12px !important;
  }

/*
::ng-deep body .ui-table .ui-sortable-column.ui-state-highlight {
    background-color: #f4f4f4;
    color: #3366ff;
}

::ng-deep body .ui-table .ui-table-thead > tr > th {
    color: #3366ff !important;
}
*/
